/********** Base styles **********/

*{
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
    text-align: center;

}

p {
    background-color: darkgray;
    width: 90%;
    border: 2px solid black;
    padding: 10px;
    margin-right: auto;
    margin-left: auto;
}

.row {
  width: 100%;
}


/********** Destop devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        border: 2px solid black;
      }
      .col-lg-4 {
        width: 33.33%;
      }
    }

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
      float: left;
      border: 2px solid black;
    }
    .col-md-6 {
      width: 50%;
    }
  }


  /********** Mobile devices only **********/
@media (max-width: 767px) {
    .col-md-12 {
      float: left;
      border: 2px solid black;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  