/********** Base styles **********/

*{
    box-sizing: border-box;
}

h1 {
    margin-bottom: 15px;
    text-align: center;

}

.pbox {
    background-color: darkgray;
    width: 90%;
    border: 2px solid black;
    padding: 40px 10px 10px 10px;
    margin-right: auto;
    margin-left: auto;
}

.row {
  width: 100%;
}
#t1 {
    color: black;
    border: 2px solid black;
    padding: 2px 30px 2px 30px;
    position: absolute;
    left: 24.5%;
    width: 120px;
    height: 30px;
}

#t2 {
    position: absolute;
    left: 55%;
    color: black;
    border: 2px solid black;
    padding: 2px 30px 2px 30px;
    width: 120px;
    height: 30px;
}

#t3 {
    position: absolute;
    left: 90%;
    color: black;
    border: 2px solid black;
    padding: 2px 30px 2px 30px;
    width: 120px;
    height: 30px;
}

/********** Destop devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        border: 2px solid black;
      }
      .col-lg-4 {
        width: 33.33%;
      }
    }

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
      float: left;
      border: 2px solid black;
    }
    .col-md-6 {
      width: 50%;
    }
  }


  /********** Mobile devices only **********/
@media (max-width: 767px) {
    .col-md-12 {
      float: left;
      border: 2px solid black;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  