/********** Base styles **********/

*{
    box-sizing: border-box;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 1%;
    margin-bottom: 2.5%;
}

h1 {
    margin-bottom: 15px;
    text-align: center;

}

.pbox {
    background-color: darkgray;
    width: 90%;
    border: 2px solid black;
    padding: 40px 10px 10px 10px;
    margin-right: auto;
    margin-left: auto;
}

.row {
  width: 100%;
}


/********** Destop devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        margin-left: 1.5%;
      }
      .col-lg-4 {
        width: 31.33%;
      }

      #t1 {
        background-color: lightpink;
        color: black;
        border: 2px solid black;
        padding: 2px 30px 2px 30px;
        position: absolute;
        left: 23.8%;
        width: 9%;
        text-align: center;
    }

    #t2 {
      background-color: #A52A2A;
      position: absolute;
      left: 56.7%;
      color: white;
      border: 2px solid black;
      padding: 2px 30px 2px 30px;
      width: 9%;
      text-align: center;
    }

    #t3 {
      background-color: khaki;
      position: absolute;
      left: 89.46%;
      color: black;
      border: 2px solid black;
      padding: 2px 30px 2px 30px;
      width: 9%;
      text-align: center;
  }
    }

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12s {
      float: left;
    }
    .col-md-6 {
      width: 47%;
      margin-left: 2%;
    }

    .col-md-12s {
      margin-top: 0%;
      width: 96%;
    }

    #t1 {
      background-color: lightpink;
      color: black;
      border: 2px solid black;
      padding: 2px 30px 2px 30px;
      position: absolute;
      left: 37%;
      width: 12%;
      text-align: center;
    }
    #t2 {
      background-color: #A52A2A;
      position: absolute;
      left: 86%;
      color: white;
      border: 2px solid black;
      padding: 2px 30px 2px 30px;
      width: 12%;
      text-align: center;
    }

    #t3 {
      background-color: khaki;
      position: absolute;
      left: 86%;
      top: 80.2%;
      color: black;
      border: 2px solid black;
      padding: 2px 30px 2px 30px;
      width: 12%;
      text-align: center;
  }
  }


  /********** Mobile devices only **********/
@media (max-width: 767px) {
    .col-md-12 {
      float: left;
      overflow: auto;
      clear: both;
    }
    .col-md-12 {
      width: 100%;
    }
  }

  