/********** Base styles **********/

*{
    box-sizing: border-box;
    margin: 0%;
}

h1 {
    margin-top: 15px;
    margin-bottom: 40px;
    text-align: center;

}

.pbox {
  background-color: darkgray;
  border: 1px solid black;
  position: relative;
}

div > h3{
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  position: absolute;
  top: 0%;
  right: 0%;
  text-align: center;
  padding: 2px 30px 2px 30px;
}

#t1{
  background-color: lightpink;
}

#t2{
  background-color: #A52A2A;
 }

 #t3{
  background-color: khaki;
 }

 div > p{
  padding: 40px 15px 15px 15px;
}

.row{
  width: 100%;
}


/********** Destop devices only **********/
@media (min-width: 992px) {
    .col-lg-4 {
        float: left;
        margin-left: 2%;
      }
      .col-lg-4 {
        width: 30.66%;
      }
    }

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6, .col-md-12s {
      float: left;
    }
    .col-md-6 {
      width: 46%;
      margin-left: 2.5%;
    }

    .col-md-12s {
      margin-top: 2.5%;
      width: 94.5%;
    }
  }


  /********** Mobile devices only **********/
@media (max-width: 767px) {
    .col-md-12 {
      float: left;
    }
    .col-md-12 {
      width: 95%;
      margin-right: 2.5%;
      margin-left: 2.5%;
      margin-top: 2.55%;
    }
  }

  